@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;700&display=swap');

:root {
    --small-font: 'Quicksand', sans-serif;
    --big-font: 'Bebas Neue', cursive;
    --gray: rgb(110, 110, 110);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
    height: 270px;
  margin: 0 auto;

}

.container img{
    padding: 120px ;
}
section button  {
  margin: 0 auto;
  font-size: 25;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #64BFF7;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 150;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    font-size: 20px;
    
}
section button a {
    text-decoration: none;
    color: white;
    font-family: var(--big-font)
}

section button:hover {
  background-color:#4EB9F9 ;
  color:white;
  border-color: #009ac9;
  
  
}

#welcome-section {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#welcome-section h1 {
    color: rgb(100, 191, 247);
    font-size: 4rem;
    text-align: center;
    font-family: var(--big-font);
}
#welcome-section p {
    font-size: 1.6rem;
    color: rgb(100, 191, 247);
    font-weight: bold;
}
